html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: $blueGrotto;
    font-size: $font-sm;
    line-height: 1.3;
    color: $babyBlue;
}

a, a:visited, a:hover {
    text-decoration: none;
    float: left;
}

.container {
    max-width: 71.25rem;
    margin: 0 auto;

    &--pall {
        padding: .875rem 1.875rem;
    }

    &--py {
        padding: .875rem 0;
    }

    &--px {
        padding: 0 1.875rem;
    }
}

.flex {
    display: flex;

    &-ai-c {
        align-items: center;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }
}