.header {
    background-color: $navyBlue;

    &__logo, &__menu a {
        color: $blueGreen;
        transition: color 300ms ease-in-out;

        &:hover {
            color: $babyBlue;
        }
    }

    &__logo {
        font-size: $font-xl;
    }

    &__menu {

        a {
            position: relative;

            &:not(:last-child) {
                margin-right: 20px;
            }

            &::after {
                content: '';
                width: 100%;
                height: 0.415rem;
                position: absolute;
                left: 0;
                top: -45px;
                background-color: $babyBlue;
                transition: all 300ms ease-in-out;
                opacity: 0;
            }

            &:hover::after {
                opacity: 1;
            }
        }
    }
}