// Colors
$navyBlue: #003060;
$blueGrotto: #0E86D4;
$blueGreen: #75E6DA;
$babyBlue: #D4F1F4;

// Sizes
$font-xs: 0.875rem; // 14px
$font-sm: 1.125rem; // 18px
$font-md: 1.375rem; // 22px
$font-xl: 3.75rem; // 60px