body {
  margin: 0;
  height: 150vh;
  background: url(./mask.jpg);
  background-size: cover;
}

.headline {
  width: 100%;
  color: #fff;
  font-size: 350px;
  font-family: Impact;
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  top: 20vh;
}

.mask {
  -webkit-mask: url(./mask.png);
  -webkit-mask-size: cover;
  height: 100%;
}