@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'space';
  src: url("../fonts/space.eot");
  src: local("☺"), url("../fonts/space.woff") format("woff"), url("../fonts/space.ttf") format("truetype"), url("../fonts/space.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-image: url(../images/background.webp);
  padding-top: 120px;
}

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -155px;
}

.header a {
  display: inline-block;
  outline: none;
  padding: 0px 30px;
  color: #fff;
  font-family: 'space';
  text-decoration: none;
  font-size: 25px;
  border: 2px solid #fff;
  background-color: #000;
  padding: 15px;
  margin: -3px;
  border-top: none;
}

.header a:nth-child(1) {
  border-radius: 0 0 0 10px;
}

.header a:nth-child(3) {
  border-radius: 0 0 10px 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
}

.container .card:nth-child(1) .card-off::after {
  content: '1';
}

.container .card:nth-child(1) .card-on {
  background-image: url(../images/cards/super-racing/2/1.webp);
}

.container .card:nth-child(2) .card-off::after {
  content: '2';
}

.container .card:nth-child(2) .card-on {
  background-image: url(../images/cards/super-racing/2/2.webp);
}

.container .card:nth-child(3) .card-off::after {
  content: '3';
}

.container .card:nth-child(3) .card-on {
  background-image: url(../images/cards/super-racing/2/3.webp);
}

.container .card:nth-child(4) .card-off::after {
  content: '4';
}

.container .card:nth-child(4) .card-on {
  background-image: url(../images/cards/super-racing/2/4.webp);
}

.container .card:nth-child(5) .card-off::after {
  content: '5';
}

.container .card:nth-child(5) .card-on {
  background-image: url(../images/cards/super-racing/2/5.webp);
}

.container .card:nth-child(6) .card-off::after {
  content: '6';
}

.container .card:nth-child(6) .card-on {
  background-image: url(../images/cards/super-racing/2/6.webp);
}

.container .card:nth-child(7) .card-off::after {
  content: '7';
}

.container .card:nth-child(7) .card-on {
  background-image: url(../images/cards/super-racing/2/7.webp);
}

.container .card:nth-child(8) .card-off::after {
  content: '8';
}

.container .card:nth-child(8) .card-on {
  background-image: url(../images/cards/super-racing/2/8.webp);
}

.container .card:nth-child(9) .card-off::after {
  content: '9';
}

.container .card:nth-child(9) .card-on {
  background-image: url(../images/cards/super-racing/2/9.webp);
}

.container .card:nth-child(10) .card-off::after {
  content: '10';
}

.container .card:nth-child(10) .card-on {
  background-image: url(../images/cards/super-racing/2/10.webp);
}

.container .card:nth-child(11) .card-off::after {
  content: '11';
}

.container .card:nth-child(11) .card-on {
  background-image: url(../images/cards/super-racing/2/11.webp);
}

.container .card:nth-child(12) .card-off::after {
  content: '12';
}

.container .card:nth-child(12) .card-on {
  background-image: url(../images/cards/super-racing/2/12.webp);
}

.container .card:nth-child(13) .card-off::after {
  content: '13';
}

.container .card:nth-child(13) .card-on {
  background-image: url(../images/cards/super-racing/2/13.webp);
}

.container .card:nth-child(14) .card-off::after {
  content: '14';
}

.container .card:nth-child(14) .card-on {
  background-image: url(../images/cards/super-racing/2/14.webp);
}

.container .card:nth-child(15) .card-off::after {
  content: '15';
}

.container .card:nth-child(15) .card-on {
  background-image: url(../images/cards/super-racing/2/15.webp);
}

.container .card:nth-child(16) .card-off::after {
  content: '16';
}

.container .card:nth-child(16) .card-on {
  background-image: url(../images/cards/super-racing/2/16.webp);
}

.container .card:nth-child(17) .card-off::after {
  content: '17';
}

.container .card:nth-child(17) .card-on {
  background-image: url(../images/cards/super-racing/2/17.webp);
}

.container .card:nth-child(18) .card-off::after {
  content: '18';
}

.container .card:nth-child(18) .card-on {
  background-image: url(../images/cards/super-racing/2/18.webp);
}

.container .card:nth-child(19) .card-off::after {
  content: '19';
}

.container .card:nth-child(19) .card-on {
  background-image: url(../images/cards/super-racing/2/19.webp);
}

.container .card:nth-child(20) .card-off::after {
  content: '20';
}

.container .card:nth-child(20) .card-on {
  background-image: url(../images/cards/super-racing/2/20.webp);
}

.container .card:nth-child(21) .card-off::after {
  content: '21';
}

.container .card:nth-child(21) .card-on {
  background-image: url(../images/cards/super-racing/2/21.webp);
}

.container .card:nth-child(22) .card-off::after {
  content: '22';
}

.container .card:nth-child(22) .card-on {
  background-image: url(../images/cards/super-racing/2/22.webp);
}

.container .card:nth-child(23) .card-off::after {
  content: '23';
}

.container .card:nth-child(23) .card-on {
  background-image: url(../images/cards/super-racing/2/23.webp);
}

.container .card:nth-child(24) .card-off::after {
  content: '24';
}

.container .card:nth-child(24) .card-on {
  background-image: url(../images/cards/super-racing/2/24.webp);
}

.container .card:nth-child(25) .card-off::after {
  content: '25';
}

.container .card:nth-child(25) .card-on {
  background-image: url(../images/cards/super-racing/2/25.webp);
}

.container .card:nth-child(26) .card-off::after {
  content: '26';
}

.container .card:nth-child(26) .card-on {
  background-image: url(../images/cards/super-racing/2/26.webp);
}

.container .card:nth-child(27) .card-off::after {
  content: '27';
}

.container .card:nth-child(27) .card-on {
  background-image: url(../images/cards/super-racing/2/27.webp);
}

.container .card:nth-child(28) .card-off::after {
  content: '28';
}

.container .card:nth-child(28) .card-on {
  background-image: url(../images/cards/super-racing/2/28.webp);
}

.container .card:nth-child(29) .card-off::after {
  content: '29';
}

.container .card:nth-child(29) .card-on {
  background-image: url(../images/cards/super-racing/2/29.webp);
}

.container .card:nth-child(30) .card-off::after {
  content: '30';
}

.container .card:nth-child(30) .card-on {
  background-image: url(../images/cards/super-racing/2/30.webp);
}

.container .card:nth-child(31) .card-off::after {
  content: '31';
}

.container .card:nth-child(31) .card-on {
  background-image: url(../images/cards/super-racing/2/31.webp);
}

.container .card:nth-child(32) .card-off::after {
  content: '32';
}

.container .card:nth-child(32) .card-on {
  background-image: url(../images/cards/super-racing/2/32.webp);
}

.container .card:nth-child(33) .card-off::after {
  content: '33';
}

.container .card:nth-child(33) .card-on {
  background-image: url(../images/cards/super-racing/2/33.webp);
}

.container .card:nth-child(34) .card-off::after {
  content: '34';
}

.container .card:nth-child(34) .card-on {
  background-image: url(../images/cards/super-racing/2/34.webp);
}

.container .card:nth-child(35) .card-off::after {
  content: '35';
}

.container .card:nth-child(35) .card-on {
  background-image: url(../images/cards/super-racing/2/35.webp);
}

.container .card:nth-child(36) .card-off::after {
  content: '36';
}

.container .card:nth-child(36) .card-on {
  background-image: url(../images/cards/super-racing/2/36.webp);
}

.container .card:nth-child(37) .card-off::after {
  content: '37';
}

.container .card:nth-child(37) .card-on {
  background-image: url(../images/cards/super-racing/2/37.webp);
}

.container .card:nth-child(38) .card-off::after {
  content: '38';
}

.container .card:nth-child(38) .card-on {
  background-image: url(../images/cards/super-racing/2/38.webp);
}

.container .card:nth-child(39) .card-off::after {
  content: '39';
}

.container .card:nth-child(39) .card-on {
  background-image: url(../images/cards/super-racing/2/39.webp);
}

.container .card:nth-child(40) .card-off::after {
  content: '40';
}

.container .card:nth-child(40) .card-on {
  background-image: url(../images/cards/super-racing/2/40.webp);
}

.container .card:nth-child(41) .card-off::after {
  content: '41';
}

.container .card:nth-child(41) .card-on {
  background-image: url(../images/cards/super-racing/2/41.webp);
}

.container .card:nth-child(42) .card-off::after {
  content: '42';
}

.container .card:nth-child(42) .card-on {
  background-image: url(../images/cards/super-racing/2/42.webp);
}

.container .card:nth-child(43) .card-off::after {
  content: '43';
}

.container .card:nth-child(43) .card-on {
  background-image: url(../images/cards/super-racing/2/43.webp);
}

.container .card:nth-child(44) .card-off::after {
  content: '44';
}

.container .card:nth-child(44) .card-on {
  background-image: url(../images/cards/super-racing/2/44.webp);
}

.container .card:nth-child(45) .card-off::after {
  content: '45';
}

.container .card:nth-child(45) .card-on {
  background-image: url(../images/cards/super-racing/2/45.webp);
}

.container .card:nth-child(46) .card-off::after {
  content: '46';
}

.container .card:nth-child(46) .card-on {
  background-image: url(../images/cards/super-racing/2/46.webp);
}

.container .card:nth-child(47) .card-off::after {
  content: '47';
}

.container .card:nth-child(47) .card-on {
  background-image: url(../images/cards/super-racing/2/47.webp);
}

.container .card:nth-child(48) .card-off::after {
  content: '48';
}

.container .card:nth-child(48) .card-on {
  background-image: url(../images/cards/super-racing/2/48.webp);
}

.container .card:nth-child(49) .card-off::after {
  content: '49';
}

.container .card:nth-child(49) .card-on {
  background-image: url(../images/cards/super-racing/2/49.webp);
}

.container .card:nth-child(50) .card-off::after {
  content: '50';
}

.container .card:nth-child(50) .card-on {
  background-image: url(../images/cards/super-racing/2/50.webp);
}

.container .card:nth-child(51) .card-off::after {
  content: '51';
}

.container .card:nth-child(51) .card-on {
  background-image: url(../images/cards/super-racing/2/51.webp);
}

.container .card:nth-child(52) .card-off::after {
  content: '52';
}

.container .card:nth-child(52) .card-on {
  background-image: url(../images/cards/super-racing/2/52.webp);
}

.container .card:nth-child(53) .card-off::after {
  content: '53';
}

.container .card:nth-child(53) .card-on {
  background-image: url(../images/cards/super-racing/2/53.webp);
}

.container .card:nth-child(54) .card-off::after {
  content: '54';
}

.container .card:nth-child(54) .card-on {
  background-image: url(../images/cards/super-racing/2/54.webp);
}

.container .card:nth-child(55) .card-off::after {
  content: '55';
}

.container .card:nth-child(55) .card-on {
  background-image: url(../images/cards/super-racing/2/55.webp);
}

.container .card:nth-child(56) .card-off::after {
  content: '56';
}

.container .card:nth-child(56) .card-on {
  background-image: url(../images/cards/super-racing/2/56.webp);
}

.container .card:nth-child(57) .card-off::after {
  content: '57';
}

.container .card:nth-child(57) .card-on {
  background-image: url(../images/cards/super-racing/2/57.webp);
}

.container .card:nth-child(58) .card-off::after {
  content: '58';
}

.container .card:nth-child(58) .card-on {
  background-image: url(../images/cards/super-racing/2/58.webp);
}

.container .card:nth-child(59) .card-off::after {
  content: '59';
}

.container .card:nth-child(59) .card-on {
  background-image: url(../images/cards/super-racing/2/59.webp);
}

.container .card:nth-child(60) .card-off::after {
  content: '60';
}

.container .card:nth-child(60) .card-on {
  background-image: url(../images/cards/super-racing/2/60.webp);
}

.container .card:nth-child(61) .card-off::after {
  content: '61';
}

.container .card:nth-child(61) .card-on {
  background-image: url(../images/cards/super-racing/2/61.webp);
}

.container .card:nth-child(62) .card-off::after {
  content: '62';
}

.container .card:nth-child(62) .card-on {
  background-image: url(../images/cards/super-racing/2/62.webp);
}

.container .card:nth-child(63) .card-off::after {
  content: '63';
}

.container .card:nth-child(63) .card-on {
  background-image: url(../images/cards/super-racing/2/63.webp);
}

.container .card:nth-child(64) .card-off::after {
  content: '64';
}

.container .card:nth-child(64) .card-on {
  background-image: url(../images/cards/super-racing/2/64.webp);
}

.container .card:nth-child(65) .card-off::after {
  content: '65';
}

.container .card:nth-child(65) .card-on {
  background-image: url(../images/cards/super-racing/2/65.webp);
}

.container .card:nth-child(66) .card-off::after {
  content: '66';
}

.container .card:nth-child(66) .card-on {
  background-image: url(../images/cards/super-racing/2/66.webp);
}

.container .card:nth-child(67) .card-off::after {
  content: '67';
}

.container .card:nth-child(67) .card-on {
  background-image: url(../images/cards/super-racing/2/67.webp);
}

.container .card:nth-child(68) .card-off::after {
  content: '68';
}

.container .card:nth-child(68) .card-on {
  background-image: url(../images/cards/super-racing/2/68.webp);
}

.container .card:nth-child(69) .card-off::after {
  content: '69';
}

.container .card:nth-child(69) .card-on {
  background-image: url(../images/cards/super-racing/2/69.webp);
}

.container .card:nth-child(70) .card-off::after {
  content: '70';
}

.container .card:nth-child(70) .card-on {
  background-image: url(../images/cards/super-racing/2/70.webp);
}

.container .card:nth-child(71) .card-off::after {
  content: '71';
}

.container .card:nth-child(71) .card-on {
  background-image: url(../images/cards/super-racing/2/71.webp);
}

.container .card:nth-child(72) .card-off::after {
  content: '72';
}

.container .card:nth-child(72) .card-on {
  background-image: url(../images/cards/super-racing/2/72.webp);
}

.container .card:nth-child(73) .card-off::after {
  content: '73';
}

.container .card:nth-child(73) .card-on {
  background-image: url(../images/cards/super-racing/2/73.webp);
}

.container .card:nth-child(74) .card-off::after {
  content: '74';
}

.container .card:nth-child(74) .card-on {
  background-image: url(../images/cards/super-racing/2/74.webp);
}

.container .card:nth-child(75) .card-off::after {
  content: '75';
}

.container .card:nth-child(75) .card-on {
  background-image: url(../images/cards/super-racing/2/75.webp);
}

.container .card:nth-child(76) .card-off::after {
  content: '76';
}

.container .card:nth-child(76) .card-on {
  background-image: url(../images/cards/super-racing/2/76.webp);
}

.container .card:nth-child(77) .card-off::after {
  content: '77';
}

.container .card:nth-child(77) .card-on {
  background-image: url(../images/cards/super-racing/2/77.webp);
}

.container .card:nth-child(78) .card-off::after {
  content: '78';
}

.container .card:nth-child(78) .card-on {
  background-image: url(../images/cards/super-racing/2/78.webp);
}

.container .card:nth-child(79) .card-off::after {
  content: '79';
}

.container .card:nth-child(79) .card-on {
  background-image: url(../images/cards/super-racing/2/79.webp);
}

.container .card:nth-child(80) .card-off::after {
  content: '80';
}

.container .card:nth-child(80) .card-on {
  background-image: url(../images/cards/super-racing/2/80.webp);
}

.container .card:nth-child(81) .card-off::after {
  content: '81';
}

.container .card:nth-child(81) .card-on {
  background-image: url(../images/cards/super-racing/2/81.webp);
}

.container .card:nth-child(82) .card-off::after {
  content: '82';
}

.container .card:nth-child(82) .card-on {
  background-image: url(../images/cards/super-racing/2/82.webp);
}

.container .card:nth-child(83) .card-off::after {
  content: '83';
}

.container .card:nth-child(83) .card-on {
  background-image: url(../images/cards/super-racing/2/83.webp);
}

.container .card:nth-child(84) .card-off::after {
  content: '84';
}

.container .card:nth-child(84) .card-on {
  background-image: url(../images/cards/super-racing/2/84.webp);
}

.container .card:nth-child(85) .card-off::after {
  content: '85';
}

.container .card:nth-child(85) .card-on {
  background-image: url(../images/cards/super-racing/2/85.webp);
}

.container .card:nth-child(86) .card-off::after {
  content: '86';
}

.container .card:nth-child(86) .card-on {
  background-image: url(../images/cards/super-racing/2/86.webp);
}

.container .card:nth-child(87) .card-off::after {
  content: '87';
}

.container .card:nth-child(87) .card-on {
  background-image: url(../images/cards/super-racing/2/87.webp);
}

.container .card:nth-child(88) .card-off::after {
  content: '88';
}

.container .card:nth-child(88) .card-on {
  background-image: url(../images/cards/super-racing/2/88.webp);
}

.container .card:nth-child(89) .card-off::after {
  content: '89';
}

.container .card:nth-child(89) .card-on {
  background-image: url(../images/cards/super-racing/2/89.webp);
}

.container .card:nth-child(90) .card-off::after {
  content: '90';
}

.container .card:nth-child(90) .card-on {
  background-image: url(../images/cards/super-racing/2/90.webp);
}

.container .card:nth-child(91) .card-off::after {
  content: '91';
}

.container .card:nth-child(91) .card-on {
  background-image: url(../images/cards/super-racing/2/91.webp);
}

.container .card:nth-child(92) .card-off::after {
  content: '92';
}

.container .card:nth-child(92) .card-on {
  background-image: url(../images/cards/super-racing/2/92.webp);
}

.container .card:nth-child(93) .card-off::after {
  content: '93';
}

.container .card:nth-child(93) .card-on {
  background-image: url(../images/cards/super-racing/2/93.webp);
}

.container .card:nth-child(94) .card-off::after {
  content: '94';
}

.container .card:nth-child(94) .card-on {
  background-image: url(../images/cards/super-racing/2/94.webp);
}

.container .card:nth-child(95) .card-off::after {
  content: '95';
}

.container .card:nth-child(95) .card-on {
  background-image: url(../images/cards/super-racing/2/95.webp);
}

.container .card:nth-child(96) .card-off::after {
  content: '96';
}

.container .card:nth-child(96) .card-on {
  background-image: url(../images/cards/super-racing/2/96.webp);
}

.container .card:nth-child(97) .card-off::after {
  content: '97';
}

.container .card:nth-child(97) .card-on {
  background-image: url(../images/cards/super-racing/2/97.webp);
}

.container .card:nth-child(98) .card-off::after {
  content: '98';
}

.container .card:nth-child(98) .card-on {
  background-image: url(../images/cards/super-racing/2/98.webp);
}

.container .card:nth-child(99) .card-off::after {
  content: '99';
}

.container .card:nth-child(99) .card-on {
  background-image: url(../images/cards/super-racing/2/99.webp);
}

.container .card:nth-child(100) .card-off::after {
  content: '100';
}

.container .card:nth-child(100) .card-on {
  background-image: url(../images/cards/super-racing/2/100.webp);
}

.container .card:nth-child(101) .card-off::after {
  content: '101';
}

.container .card:nth-child(101) .card-on {
  background-image: url(../images/cards/super-racing/2/101.webp);
}

.container .card:nth-child(102) .card-off::after {
  content: '102';
}

.container .card:nth-child(102) .card-on {
  background-image: url(../images/cards/super-racing/2/102.webp);
}

.container .card:nth-child(103) .card-off::after {
  content: '103';
}

.container .card:nth-child(103) .card-on {
  background-image: url(../images/cards/super-racing/2/103.webp);
}

.container .card:nth-child(104) .card-off::after {
  content: '104';
}

.container .card:nth-child(104) .card-on {
  background-image: url(../images/cards/super-racing/2/104.webp);
}

.container .card:nth-child(105) .card-off::after {
  content: '105';
}

.container .card:nth-child(105) .card-on {
  background-image: url(../images/cards/super-racing/2/105.webp);
}

.container .card:nth-child(106) .card-off::after {
  content: '106';
}

.container .card:nth-child(106) .card-on {
  background-image: url(../images/cards/super-racing/2/106.webp);
}

.container .card:nth-child(107) .card-off::after {
  content: '107';
}

.container .card:nth-child(107) .card-on {
  background-image: url(../images/cards/super-racing/2/107.webp);
}

.container .card:nth-child(108) .card-off::after {
  content: '108';
}

.container .card:nth-child(108) .card-on {
  background-image: url(../images/cards/super-racing/2/108.webp);
}

.container .card:nth-child(109) .card-off::after {
  content: '109';
}

.container .card:nth-child(109) .card-on {
  background-image: url(../images/cards/super-racing/2/109.webp);
}

.container .card:nth-child(110) .card-off::after {
  content: '110';
}

.container .card:nth-child(110) .card-on {
  background-image: url(../images/cards/super-racing/2/110.webp);
}

.container .card:nth-child(111) .card-off::after {
  content: '111';
}

.container .card:nth-child(111) .card-on {
  background-image: url(../images/cards/super-racing/2/111.webp);
}

.container .card:nth-child(112) .card-off::after {
  content: '112';
}

.container .card:nth-child(112) .card-on {
  background-image: url(../images/cards/super-racing/2/112.webp);
}

.container .card:nth-child(113) .card-off::after {
  content: '113';
}

.container .card:nth-child(113) .card-on {
  background-image: url(../images/cards/super-racing/2/113.webp);
}

.container .card:nth-child(114) .card-off::after {
  content: '114';
}

.container .card:nth-child(114) .card-on {
  background-image: url(../images/cards/super-racing/2/114.webp);
}

.container .card:nth-child(115) .card-off::after {
  content: '115';
}

.container .card:nth-child(115) .card-on {
  background-image: url(../images/cards/super-racing/2/115.webp);
}

.container .card:nth-child(116) .card-off::after {
  content: '116';
}

.container .card:nth-child(116) .card-on {
  background-image: url(../images/cards/super-racing/2/116.webp);
}

.container .card:nth-child(117) .card-off::after {
  content: '117';
}

.container .card:nth-child(117) .card-on {
  background-image: url(../images/cards/super-racing/2/117.webp);
}

.container .card:nth-child(118) .card-off::after {
  content: '118';
}

.container .card:nth-child(118) .card-on {
  background-image: url(../images/cards/super-racing/2/118.webp);
}

.container .card:nth-child(119) .card-off::after {
  content: '119';
}

.container .card:nth-child(119) .card-on {
  background-image: url(../images/cards/super-racing/2/119.webp);
}

.container .card:nth-child(120) .card-off::after {
  content: '120';
}

.container .card:nth-child(120) .card-on {
  background-image: url(../images/cards/super-racing/2/120.webp);
}

.container .card:nth-child(121) .card-off::after {
  content: '121';
}

.container .card:nth-child(121) .card-on {
  background-image: url(../images/cards/super-racing/2/121.webp);
}

.container .card:nth-child(122) .card-off::after {
  content: '122';
}

.container .card:nth-child(122) .card-on {
  background-image: url(../images/cards/super-racing/2/122.webp);
}

.container .card:nth-child(123) .card-off::after {
  content: '123';
}

.container .card:nth-child(123) .card-on {
  background-image: url(../images/cards/super-racing/2/123.webp);
}

.container .card:nth-child(124) .card-off::after {
  content: '124';
}

.container .card:nth-child(124) .card-on {
  background-image: url(../images/cards/super-racing/2/124.webp);
}

.container .card:nth-child(125) .card-off::after {
  content: '125';
}

.container .card:nth-child(125) .card-on {
  background-image: url(../images/cards/super-racing/2/125.webp);
}

.container .card:nth-child(126) .card-off::after {
  content: '126';
}

.container .card:nth-child(126) .card-on {
  background-image: url(../images/cards/super-racing/2/126.webp);
}

.container .card:nth-child(127) .card-off::after {
  content: '127';
}

.container .card:nth-child(127) .card-on {
  background-image: url(../images/cards/super-racing/2/127.webp);
}

.container .card:nth-child(128) .card-off::after {
  content: '128';
}

.container .card:nth-child(128) .card-on {
  background-image: url(../images/cards/super-racing/2/128.webp);
}

.container .card:nth-child(129) .card-off::after {
  content: '129';
}

.container .card:nth-child(129) .card-on {
  background-image: url(../images/cards/super-racing/2/129.webp);
}

.container .card:nth-child(130) .card-off::after {
  content: '130';
}

.container .card:nth-child(130) .card-on {
  background-image: url(../images/cards/super-racing/2/130.webp);
}

.container .card:nth-child(131) .card-off::after {
  content: '131';
}

.container .card:nth-child(131) .card-on {
  background-image: url(../images/cards/super-racing/2/131.webp);
}

.container .card:nth-child(132) .card-off::after {
  content: '132';
}

.container .card:nth-child(132) .card-on {
  background-image: url(../images/cards/super-racing/2/132.webp);
}

.container .card:nth-child(133) .card-off::after {
  content: '133';
}

.container .card:nth-child(133) .card-on {
  background-image: url(../images/cards/super-racing/2/133.webp);
}

.container .card:nth-child(134) .card-off::after {
  content: '134';
}

.container .card:nth-child(134) .card-on {
  background-image: url(../images/cards/super-racing/2/134.webp);
}

.container .card:nth-child(135) .card-off::after {
  content: '135';
}

.container .card:nth-child(135) .card-on {
  background-image: url(../images/cards/super-racing/2/135.webp);
}

.container .card:nth-child(136) .card-off::after {
  content: '136';
}

.container .card:nth-child(136) .card-on {
  background-image: url(../images/cards/super-racing/2/136.webp);
}

.container .card:nth-child(137) .card-off::after {
  content: '137';
}

.container .card:nth-child(137) .card-on {
  background-image: url(../images/cards/super-racing/2/137.webp);
}

.container .card:nth-child(138) .card-off::after {
  content: '138';
}

.container .card:nth-child(138) .card-on {
  background-image: url(../images/cards/super-racing/2/138.webp);
}

.container .card:nth-child(139) .card-off::after {
  content: '139';
}

.container .card:nth-child(139) .card-on {
  background-image: url(../images/cards/super-racing/2/139.webp);
}

.container .card:nth-child(140) .card-off::after {
  content: '140';
}

.container .card:nth-child(140) .card-on {
  background-image: url(../images/cards/super-racing/2/140.webp);
}

.container .card:nth-child(141) .card-off::after {
  content: '141';
}

.container .card:nth-child(141) .card-on {
  background-image: url(../images/cards/super-racing/2/141.webp);
}

.container .card:nth-child(142) .card-off::after {
  content: '142';
}

.container .card:nth-child(142) .card-on {
  background-image: url(../images/cards/super-racing/2/142.webp);
}

.container .card:nth-child(143) .card-off::after {
  content: '143';
}

.container .card:nth-child(143) .card-on {
  background-image: url(../images/cards/super-racing/2/143.webp);
}

.container .card:nth-child(144) .card-off::after {
  content: '144';
}

.container .card:nth-child(144) .card-on {
  background-image: url(../images/cards/super-racing/2/144.webp);
}

.container .card:nth-child(145) .card-off::after {
  content: '145';
}

.container .card:nth-child(145) .card-on {
  background-image: url(../images/cards/super-racing/2/145.webp);
}

.container .card:nth-child(146) .card-off::after {
  content: '146';
}

.container .card:nth-child(146) .card-on {
  background-image: url(../images/cards/super-racing/2/146.webp);
}

.container .card:nth-child(147) .card-off::after {
  content: '147';
}

.container .card:nth-child(147) .card-on {
  background-image: url(../images/cards/super-racing/2/147.webp);
}

.container .card:nth-child(148) .card-off::after {
  content: '148';
}

.container .card:nth-child(148) .card-on {
  background-image: url(../images/cards/super-racing/2/148.webp);
}

.container .card:nth-child(149) .card-off::after {
  content: '149';
}

.container .card:nth-child(149) .card-on {
  background-image: url(../images/cards/super-racing/2/149.webp);
}

.container .card:nth-child(150) .card-off::after {
  content: '150';
}

.container .card:nth-child(150) .card-on {
  background-image: url(../images/cards/super-racing/2/150.webp);
}

.container .card:nth-child(151) .card-off::after {
  content: '151';
}

.container .card:nth-child(151) .card-on {
  background-image: url(../images/cards/super-racing/2/151.webp);
}

.container .card:nth-child(152) .card-off::after {
  content: '152';
}

.container .card:nth-child(152) .card-on {
  background-image: url(../images/cards/super-racing/2/152.webp);
}

.container .card:nth-child(153) .card-off::after {
  content: '153';
}

.container .card:nth-child(153) .card-on {
  background-image: url(../images/cards/super-racing/2/153.webp);
}

.container .card:nth-child(154) .card-off::after {
  content: '154';
}

.container .card:nth-child(154) .card-on {
  background-image: url(../images/cards/super-racing/2/154.webp);
}

.container .card:nth-child(155) .card-off::after {
  content: '155';
}

.container .card:nth-child(155) .card-on {
  background-image: url(../images/cards/super-racing/2/155.webp);
}

.container .card:nth-child(156) .card-off::after {
  content: '156';
}

.container .card:nth-child(156) .card-on {
  background-image: url(../images/cards/super-racing/2/156.webp);
}

.container .card:nth-child(157) .card-off::after {
  content: '157';
}

.container .card:nth-child(157) .card-on {
  background-image: url(../images/cards/super-racing/2/157.webp);
}

.container .card:nth-child(158) .card-off::after {
  content: '158';
}

.container .card:nth-child(158) .card-on {
  background-image: url(../images/cards/super-racing/2/158.webp);
}

.container .card:nth-child(159) .card-off::after {
  content: '159';
}

.container .card:nth-child(159) .card-on {
  background-image: url(../images/cards/super-racing/2/159.webp);
}

.container .card:nth-child(160) .card-off::after {
  content: '160';
}

.container .card:nth-child(160) .card-on {
  background-image: url(../images/cards/super-racing/2/160.webp);
}

.container .card:nth-child(161) .card-off::after {
  content: '161';
}

.container .card:nth-child(161) .card-on {
  background-image: url(../images/cards/super-racing/2/161.webp);
}

.container .card:nth-child(162) .card-off::after {
  content: '162';
}

.container .card:nth-child(162) .card-on {
  background-image: url(../images/cards/super-racing/2/162.webp);
}

.container .card:nth-child(163) .card-off::after {
  content: '163';
}

.container .card:nth-child(163) .card-on {
  background-image: url(../images/cards/super-racing/2/163.webp);
}

.container .card:nth-child(164) .card-off::after {
  content: '164';
}

.container .card:nth-child(164) .card-on {
  background-image: url(../images/cards/super-racing/2/164.webp);
}

.container .card:nth-child(165) .card-off::after {
  content: '165';
}

.container .card:nth-child(165) .card-on {
  background-image: url(../images/cards/super-racing/2/165.webp);
}

.container .card:nth-child(166) .card-off::after {
  content: '166';
}

.container .card:nth-child(166) .card-on {
  background-image: url(../images/cards/super-racing/2/166.webp);
}

.container .card:nth-child(167) .card-off::after {
  content: '167';
}

.container .card:nth-child(167) .card-on {
  background-image: url(../images/cards/super-racing/2/167.webp);
}

.container .card:nth-child(168) .card-off::after {
  content: '168';
}

.container .card:nth-child(168) .card-on {
  background-image: url(../images/cards/super-racing/2/168.webp);
}

.container .card:nth-child(169) .card-off::after {
  content: '169';
}

.container .card:nth-child(169) .card-on {
  background-image: url(../images/cards/super-racing/2/169.webp);
}

.container .card:nth-child(170) .card-off::after {
  content: '170';
}

.container .card:nth-child(170) .card-on {
  background-image: url(../images/cards/super-racing/2/170.webp);
}

.container .card:nth-child(171) .card-off::after {
  content: '171';
}

.container .card:nth-child(171) .card-on {
  background-image: url(../images/cards/super-racing/2/171.webp);
}

.container .card:nth-child(172) .card-off::after {
  content: '172';
}

.container .card:nth-child(172) .card-on {
  background-image: url(../images/cards/super-racing/2/172.webp);
}

.container .card:nth-child(173) .card-off::after {
  content: '173';
}

.container .card:nth-child(173) .card-on {
  background-image: url(../images/cards/super-racing/2/173.webp);
}

.container .card:nth-child(174) .card-off::after {
  content: '174';
}

.container .card:nth-child(174) .card-on {
  background-image: url(../images/cards/super-racing/2/174.webp);
}

.container .card:nth-child(175) .card-off::after {
  content: '175';
}

.container .card:nth-child(175) .card-on {
  background-image: url(../images/cards/super-racing/2/175.webp);
}

.container .card:nth-child(176) .card-off::after {
  content: '176';
}

.container .card:nth-child(176) .card-on {
  background-image: url(../images/cards/super-racing/2/176.webp);
}

.container .card:nth-child(177) .card-off::after {
  content: '177';
}

.container .card:nth-child(177) .card-on {
  background-image: url(../images/cards/super-racing/2/177.webp);
}

.container .card:nth-child(178) .card-off::after {
  content: '178';
}

.container .card:nth-child(178) .card-on {
  background-image: url(../images/cards/super-racing/2/178.webp);
}

.container .card:nth-child(179) .card-off::after {
  content: '179';
}

.container .card:nth-child(179) .card-on {
  background-image: url(../images/cards/super-racing/2/179.webp);
}

.container .card:nth-child(180) .card-off::after {
  content: '180';
}

.container .card:nth-child(180) .card-on {
  background-image: url(../images/cards/super-racing/2/180.webp);
}

.container .card:nth-child(181) .card-off::after {
  content: '181';
}

.container .card:nth-child(181) .card-on {
  background-image: url(../images/cards/super-racing/2/181.webp);
}

.container .card:nth-child(182) .card-off::after {
  content: '182';
}

.container .card:nth-child(182) .card-on {
  background-image: url(../images/cards/super-racing/2/182.webp);
}

.container .card:nth-child(183) .card-off::after {
  content: '183';
}

.container .card:nth-child(183) .card-on {
  background-image: url(../images/cards/super-racing/2/183.webp);
}

.container .card:nth-child(184) .card-off::after {
  content: '184';
}

.container .card:nth-child(184) .card-on {
  background-image: url(../images/cards/super-racing/2/184.webp);
}

.container .card:nth-child(185) .card-off::after {
  content: '185';
}

.container .card:nth-child(185) .card-on {
  background-image: url(../images/cards/super-racing/2/185.webp);
}

.container .card:nth-child(186) .card-off::after {
  content: '186';
}

.container .card:nth-child(186) .card-on {
  background-image: url(../images/cards/super-racing/2/186.webp);
}

.container .card:nth-child(187) .card-off::after {
  content: '187';
}

.container .card:nth-child(187) .card-on {
  background-image: url(../images/cards/super-racing/2/187.webp);
}

.container .card:nth-child(188) .card-off::after {
  content: '188';
}

.container .card:nth-child(188) .card-on {
  background-image: url(../images/cards/super-racing/2/188.webp);
}

.container .card:nth-child(189) .card-off::after {
  content: '189';
}

.container .card:nth-child(189) .card-on {
  background-image: url(../images/cards/super-racing/2/189.webp);
}

.container .card:nth-child(190) .card-off::after {
  content: '190';
}

.container .card:nth-child(190) .card-on {
  background-image: url(../images/cards/super-racing/2/190.webp);
}

.container .card:nth-child(191) .card-off::after {
  content: '191';
}

.container .card:nth-child(191) .card-on {
  background-image: url(../images/cards/super-racing/2/191.webp);
}

.container .card:nth-child(192) .card-off::after {
  content: '192';
}

.container .card:nth-child(192) .card-on {
  background-image: url(../images/cards/super-racing/2/192.webp);
}

.container .card:nth-child(193) .card-off::after {
  content: '193';
}

.container .card:nth-child(193) .card-on {
  background-image: url(../images/cards/super-racing/2/193.webp);
}

.container .card:nth-child(194) .card-off::after {
  content: '194';
}

.container .card:nth-child(194) .card-on {
  background-image: url(../images/cards/super-racing/2/194.webp);
}

.container .card:nth-child(195) .card-off::after {
  content: '195';
}

.container .card:nth-child(195) .card-on {
  background-image: url(../images/cards/super-racing/2/195.webp);
}

.container .card:nth-child(196) .card-off::after {
  content: '196';
}

.container .card:nth-child(196) .card-on {
  background-image: url(../images/cards/super-racing/2/196.webp);
}

.container .card:nth-child(197) .card-off::after {
  content: '197';
}

.container .card:nth-child(197) .card-on {
  background-image: url(../images/cards/super-racing/2/197.webp);
}

.container .card:nth-child(198) .card-off::after {
  content: '198';
}

.container .card:nth-child(198) .card-on {
  background-image: url(../images/cards/super-racing/2/198.webp);
}

.container .card:nth-child(199) .card-off::after {
  content: '199';
}

.container .card:nth-child(199) .card-on {
  background-image: url(../images/cards/super-racing/2/199.webp);
}

.container .card:nth-child(200) .card-off::after {
  content: '200';
}

.container .card:nth-child(200) .card-on {
  background-image: url(../images/cards/super-racing/2/200.webp);
}

.container .card:nth-child(201) .card-off::after {
  content: '201';
}

.container .card:nth-child(201) .card-on {
  background-image: url(../images/cards/super-racing/2/201.webp);
}

.container .card:nth-child(202) .card-off::after {
  content: '202';
}

.container .card:nth-child(202) .card-on {
  background-image: url(../images/cards/super-racing/2/202.webp);
}

.container .card:nth-child(203) .card-off::after {
  content: '203';
}

.container .card:nth-child(203) .card-on {
  background-image: url(../images/cards/super-racing/2/203.webp);
}

.container .card:nth-child(204) .card-off::after {
  content: '204';
}

.container .card:nth-child(204) .card-on {
  background-image: url(../images/cards/super-racing/2/204.webp);
}

.container .card:nth-child(205) .card-off::after {
  content: '205';
}

.container .card:nth-child(205) .card-on {
  background-image: url(../images/cards/super-racing/2/205.webp);
}

.container .card:nth-child(206) .card-off::after {
  content: '206';
}

.container .card:nth-child(206) .card-on {
  background-image: url(../images/cards/super-racing/2/206.webp);
}

.container .card:nth-child(207) .card-off::after {
  content: '207';
}

.container .card:nth-child(207) .card-on {
  background-image: url(../images/cards/super-racing/2/207.webp);
}

.container .card:nth-child(208) .card-off::after {
  content: '208';
}

.container .card:nth-child(208) .card-on {
  background-image: url(../images/cards/super-racing/2/208.webp);
}

.container .card:nth-child(209) .card-off::after {
  content: '209';
}

.container .card:nth-child(209) .card-on {
  background-image: url(../images/cards/super-racing/2/209.webp);
}

.container .card:nth-child(210) .card-off::after {
  content: '210';
}

.container .card:nth-child(210) .card-on {
  background-image: url(../images/cards/super-racing/2/210.webp);
}

.container .card:nth-child(211) .card-off::after {
  content: '211';
}

.container .card:nth-child(211) .card-on {
  background-image: url(../images/cards/super-racing/2/211.webp);
}

.container .card:nth-child(212) .card-off::after {
  content: '212';
}

.container .card:nth-child(212) .card-on {
  background-image: url(../images/cards/super-racing/2/212.webp);
}

.container .card:nth-child(213) .card-off::after {
  content: '213';
}

.container .card:nth-child(213) .card-on {
  background-image: url(../images/cards/super-racing/2/213.webp);
}

.container .card:nth-child(214) .card-off::after {
  content: '214';
}

.container .card:nth-child(214) .card-on {
  background-image: url(../images/cards/super-racing/2/214.webp);
}

.container .card:nth-child(215) .card-off::after {
  content: '215';
}

.container .card:nth-child(215) .card-on {
  background-image: url(../images/cards/super-racing/2/215.webp);
}

.container .card:nth-child(216) .card-off::after {
  content: '216';
}

.container .card:nth-child(216) .card-on {
  background-image: url(../images/cards/super-racing/2/216.webp);
}

.container .card:nth-child(217) .card-off::after {
  content: '217';
}

.container .card:nth-child(217) .card-on {
  background-image: url(../images/cards/super-racing/2/217.webp);
}

.container .card:nth-child(218) .card-off::after {
  content: '218';
}

.container .card:nth-child(218) .card-on {
  background-image: url(../images/cards/super-racing/2/218.webp);
}

.container .card:nth-child(219) .card-off::after {
  content: '219';
}

.container .card:nth-child(219) .card-on {
  background-image: url(../images/cards/super-racing/2/219.webp);
}

.container .card:nth-child(220) .card-off::after {
  content: '220';
}

.container .card:nth-child(220) .card-on {
  background-image: url(../images/cards/super-racing/2/220.webp);
}

.container .card:nth-child(221) .card-off::after {
  content: '221';
}

.container .card:nth-child(221) .card-on {
  background-image: url(../images/cards/super-racing/2/221.webp);
}

.container .card:nth-child(222) .card-off::after {
  content: '222';
}

.container .card:nth-child(222) .card-on {
  background-image: url(../images/cards/super-racing/2/222.webp);
}

.container .card:nth-child(223) .card-off::after {
  content: '223';
}

.container .card:nth-child(223) .card-on {
  background-image: url(../images/cards/super-racing/2/223.webp);
}

.container .card:nth-child(224) .card-off::after {
  content: '224';
}

.container .card:nth-child(224) .card-on {
  background-image: url(../images/cards/super-racing/2/224.webp);
}

.container .card:nth-child(225) .card-off::after {
  content: '225';
}

.container .card:nth-child(225) .card-on {
  background-image: url(../images/cards/super-racing/2/225.webp);
}

.container .card:nth-child(226) .card-off::after {
  content: '226';
}

.container .card:nth-child(226) .card-on {
  background-image: url(../images/cards/super-racing/2/226.webp);
}

.container .card:nth-child(227) .card-off::after {
  content: '227';
}

.container .card:nth-child(227) .card-on {
  background-image: url(../images/cards/super-racing/2/227.webp);
}

.container .card:nth-child(228) .card-off::after {
  content: '228';
}

.container .card:nth-child(228) .card-on {
  background-image: url(../images/cards/super-racing/2/228.webp);
}

.container .card:nth-child(229) .card-off::after {
  content: '229';
}

.container .card:nth-child(229) .card-on {
  background-image: url(../images/cards/super-racing/2/229.webp);
}

.container .card:nth-child(230) .card-off::after {
  content: '230';
}

.container .card:nth-child(230) .card-on {
  background-image: url(../images/cards/super-racing/2/230.webp);
}

.container .card:nth-child(231) .card-off::after {
  content: '231';
}

.container .card:nth-child(231) .card-on {
  background-image: url(../images/cards/super-racing/2/231.webp);
}

.container .card:nth-child(232) .card-off::after {
  content: '232';
}

.container .card:nth-child(232) .card-on {
  background-image: url(../images/cards/super-racing/2/232.webp);
}

.container .card:nth-child(233) .card-off::after {
  content: '233';
}

.container .card:nth-child(233) .card-on {
  background-image: url(../images/cards/super-racing/2/233.webp);
}

.container .card:nth-child(234) .card-off::after {
  content: '234';
}

.container .card:nth-child(234) .card-on {
  background-image: url(../images/cards/super-racing/2/234.webp);
}

.container .card:nth-child(235) .card-off::after {
  content: '235';
}

.container .card:nth-child(235) .card-on {
  background-image: url(../images/cards/super-racing/2/235.webp);
}

.container .card:nth-child(236) .card-off::after {
  content: '236';
}

.container .card:nth-child(236) .card-on {
  background-image: url(../images/cards/super-racing/2/236.webp);
}

.container .card:nth-child(237) .card-off::after {
  content: '237';
}

.container .card:nth-child(237) .card-on {
  background-image: url(../images/cards/super-racing/2/237.webp);
}

.container .card:nth-child(238) .card-off::after {
  content: '238';
}

.container .card:nth-child(238) .card-on {
  background-image: url(../images/cards/super-racing/2/238.webp);
}

.container .card:nth-child(239) .card-off::after {
  content: '239';
}

.container .card:nth-child(239) .card-on {
  background-image: url(../images/cards/super-racing/2/239.webp);
}

.container .card:nth-child(240) .card-off::after {
  content: '240';
}

.container .card:nth-child(240) .card-on {
  background-image: url(../images/cards/super-racing/2/240.webp);
}

.container .card:nth-child(241) .card-off::after {
  content: '241';
}

.container .card:nth-child(241) .card-on {
  background-image: url(../images/cards/super-racing/2/241.webp);
}

.container .card:nth-child(242) .card-off::after {
  content: '242';
}

.container .card:nth-child(242) .card-on {
  background-image: url(../images/cards/super-racing/2/242.webp);
}

.container .card:nth-child(243) .card-off::after {
  content: '243';
}

.container .card:nth-child(243) .card-on {
  background-image: url(../images/cards/super-racing/2/243.webp);
}

.container .card:nth-child(244) .card-off::after {
  content: '244';
}

.container .card:nth-child(244) .card-on {
  background-image: url(../images/cards/super-racing/2/244.webp);
}

.container .card:nth-child(245) .card-off::after {
  content: '245';
}

.container .card:nth-child(245) .card-on {
  background-image: url(../images/cards/super-racing/2/245.webp);
}

.container .card:nth-child(246) .card-off::after {
  content: '246';
}

.container .card:nth-child(246) .card-on {
  background-image: url(../images/cards/super-racing/2/246.webp);
}

.container .card:nth-child(247) .card-off::after {
  content: '247';
}

.container .card:nth-child(247) .card-on {
  background-image: url(../images/cards/super-racing/2/247.webp);
}

.container .card:nth-child(248) .card-off::after {
  content: '248';
}

.container .card:nth-child(248) .card-on {
  background-image: url(../images/cards/super-racing/2/248.webp);
}

.container .card:nth-child(249) .card-off::after {
  content: '249';
}

.container .card:nth-child(249) .card-on {
  background-image: url(../images/cards/super-racing/2/249.webp);
}

.container .card:nth-child(250) .card-off::after {
  content: '250';
}

.container .card:nth-child(250) .card-on {
  background-image: url(../images/cards/super-racing/2/250.webp);
}

.container .card:nth-child(251) .card-off::after {
  content: '251';
}

.container .card:nth-child(251) .card-on {
  background-image: url(../images/cards/super-racing/2/251.webp);
}

.container .card:nth-child(252) .card-off::after {
  content: '252';
}

.container .card:nth-child(252) .card-on {
  background-image: url(../images/cards/super-racing/2/252.webp);
}

.container .card:nth-child(253) .card-off::after {
  content: '253';
}

.container .card:nth-child(253) .card-on {
  background-image: url(../images/cards/super-racing/2/253.webp);
}

.container .card:nth-child(254) .card-off::after {
  content: '254';
}

.container .card:nth-child(254) .card-on {
  background-image: url(../images/cards/super-racing/2/254.webp);
}

.container .card:nth-child(255) .card-off::after {
  content: '255';
}

.container .card:nth-child(255) .card-on {
  background-image: url(../images/cards/super-racing/2/255.webp);
}

.container .card:nth-child(256) .card-off::after {
  content: '256';
}

.container .card:nth-child(256) .card-on {
  background-image: url(../images/cards/super-racing/2/256.webp);
}

.container .card:nth-child(257) .card-off::after {
  content: '257';
}

.container .card:nth-child(257) .card-on {
  background-image: url(../images/cards/super-racing/2/257.webp);
}

.container .card:nth-child(258) .card-off::after {
  content: '258';
}

.container .card:nth-child(258) .card-on {
  background-image: url(../images/cards/super-racing/2/258.webp);
}

.container .card:nth-child(259) .card-off::after {
  content: '259';
}

.container .card:nth-child(259) .card-on {
  background-image: url(../images/cards/super-racing/2/259.webp);
}

.container .card:nth-child(260) .card-off::after {
  content: '260';
}

.container .card:nth-child(260) .card-on {
  background-image: url(../images/cards/super-racing/2/260.webp);
}

.card {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 30px;
  margin-bottom: 60px;
  border-radius: 15px;
}

.card .card-off::after {
  content: '1';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-family: 'space';
  width: 90px;
  height: 30px;
  border: 4px solid #fff;
  background-color: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -40px;
  right: -65px;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.card .card-on::after {
  content: '';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-family: 'space';
  width: 90px;
  height: 30px;
  border: 4px solid #fff;
  background-color: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -40px;
  right: -65px;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.card-off {
  background-image: url(../images/cards/super-racing/2/0.webp);
  height: 315px;
  width: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  border: 3px solid #fff;
  border-radius: 15px;
}

.card-on {
  background-image: url(../images/cards/super-racing/2/1.webp);
  height: 315px;
  width: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  border: 3px solid #fff;
  border-radius: 15px;
}
